<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>pokedexApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  
  <ion-searchbar placeholder="Buscar" color="medium"></ion-searchbar>

  <ion-item-sliding> <!-- Bulbasaur -->
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="success">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="success">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding> <!-- Bulbasaur -->
  

  <ion-item-sliding> <!-- Charmander -->
    <ion-item color="dark"> 

      <ion-chip slot="start">
        <ion-label color="danger">004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="danger">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding> <!-- Charmander -->
  
    <ion-item-sliding> <!-- Squirtle -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="secondary">007</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="secondary">Water</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Squirtle -->

    <ion-item-sliding> <!-- Pikachu -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="warning">025</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Pikachu</h2>
            <ion-badge color="warning">Electri</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Pikachu -->

</ion-content>
