<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>pokedexApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  
  <ion-searchbar placeholder="Buscar" color="medium"></ion-searchbar>

  <ion-item-sliding> <!-- Bulbasaur -->
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="grass">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding> <!-- Bulbasaur -->
  

  <ion-item-sliding> <!-- Charmander -->
    <ion-item color="dark"> 

      <ion-chip slot="start">
        <ion-label color="fire">004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding> <!-- Charmander -->
  
    <ion-item-sliding> <!-- Squirtle -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="water">007</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="water">Water</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Squirtle -->

    <ion-item-sliding> <!-- Catarpie -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="bug">010</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Catarpie</h2>
            <ion-badge color="bug">Bug</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Catarpie -->

    <ion-item-sliding> <!-- Rattata -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="normal">019</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Rattata</h2>
            <ion-badge color="normal">Normal</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Rattata -->

    <ion-item-sliding> <!-- Ekans -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="poison">023</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Ekans</h2>
            <ion-badge color="poison">Poison</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/023.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Ekans -->

    <ion-item-sliding> <!-- Pikachu -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="eletric">025</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Pikachu</h2>
            <ion-badge color="eletric">Electri</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Pikachu -->

    <ion-item-sliding> <!-- Sandshrew -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="grounda">027</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Sandshrew</h2>
            <ion-badge color="ground">Ground</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/027.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Sandshrew -->

    <ion-item-sliding> <!-- Clefairy -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="fairy">035</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Clefairy</h2>
            <ion-badge color="fairy">Fairy</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Clefairy -->

    <ion-item-sliding> <!-- Dragonite -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="dragona">149</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Dragonite</h2>
            <ion-badge color="dragon">Dragon</ion-badge>
            <ion-badge color="flying">Flying</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/149.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Dragonite -->

    <ion-item-sliding> <!-- Mew -->
      <ion-item color="dark"> 

        <ion-chip slot="start">
          <ion-label color="psychic">151</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Mew</h2>
            <ion-badge color="psychic">Psychic</ion-badge>
          </div>
        </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/151.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">Alterar</ion-item-option>
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> <!-- Mew -->

</ion-content>
